@font-face {
  font-family: DINProBlack;
  src: url($fontPath + "/DINPro-Black.otf") format("truetype");
}

@font-face {
  font-family: DINProBold;
  src: url($fontPath + "/DINPro-Bold.otf") format("truetype");
}

@font-face {
  font-family: DINProMedium;
  src: url($fontPath + "/DINPro-Medium.otf") format("truetype");
}

@font-face {
  font-family: DINProLight;
  src: url($fontPath + "/DINPro-Light.otf") format("truetype");
}

@font-face {
  font-family: DINProRegular;
  src: url($fontPath + "/DINPro-Regular.otf") format("truetype");
}
